* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.nav {
  p {
    margin: 0 10px;
  }
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.gridItem:hover {
  transform: scale(1.02)
}